textarea {
	height: 150px;
	width: 200px;
}

button {
	margin: 0 10px;
}

.space {
	margin: 0 2px;
}

.row {
	
}

.column {
	float: left;
	height: 700px;
	width: 30%;
	padding: 10px;
	margin: 3px;
}

.design {
	border: solid;
}

.divborder {
	border: 2px solid groove;
	border-radius: 12px;
}
.divborder1
 {
 border-style: groove;
 }
 .aln
 {
 display:inline-block;
 } 


/*body{
	background-color: #82D0F1;
}*/