<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>_Buglog</servlet-name>
		<servlet-class>buglog._BuglogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>_Buglog</servlet-name>
		<url-pattern>/_buglog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Save</servlet-name>
		<servlet-class>buglog.SaveDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Save</servlet-name>
		<url-pattern>/saveissue</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Load</servlet-name>
		<servlet-class>buglog.ViewAllServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Load</servlet-name>
		<url-pattern>/loadissue</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>buglog.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/OAuth2CallBack</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
